[submodule "mobile-vr"]
	path = mobile-vr
url=git@github.com:Adjuvant/mobile-vr.git
[submodule "introduction-to-unity"]
	path = introduction-to-unity
url=git@github.com:Adjuvant/introduction-to-unity.git
